html,
body {
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
.banner {
  background: url("../img/boot3/1.jpg") no-repeat;
  background-size: cover;
  background-position: center 20%;
  position: relative;
}
.banner .container {
  padding: 110px 0px;
}
.banner .container span {
  display: block;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}
.father .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  float: none;
}
.navbar-header {
  text-align: center;
}
.father {
  text-align: center;
}
.box_l1 {
  background: #fff;
  padding: 35px;
  margin-bottom: 35px;
}
.box_l1 .image {
  padding: 20px 0px;
}
.box_l1 span a {
  color: #e67e22;
}
.text-left {
  padding-top: 20px;
  font-size: 18px;
}
.text-left .btn-default {
  color: #fff;
  background-color: #e67e22;
  border-color: #ccc;
}
.footer {
  margin-top: 28px;
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}
.footer a {
  color: #959595;
}
.box_r1 {
  padding: 20px 30px;
  background: #fff;
  margin-bottom: 35px;
}
.box_r1 .h4 {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
}
.box_r1 .btn {
  padding: 3px 5px;
  margin: 2px 0px;
}
.box_r1 p {
  margin: 10px 0px;
}
.box_r1 form {
  padding: 10px 0px 20px 0px;
}
