.navbar-brand {
  height: 72px;
  padding: 0px 15px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 4px 8px;
}

.navbar-right {
  float: right !important;
  margin-right: 0px;
  padding: 21px 0px;
}

.navbar-right li {
  float: left;
}

.navbar-toggle {
  margin-top: 19px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.bore 
{
  background: #ee5a4c;
  margin-top: 73px;
  margin-bottom: 5px;
}
.navbar-default {
  background: #fff;
}
.mycon {
	
  min-width: 300px;
  
  text-align: center;
  margin: 0 auto;
  padding: 54px 15px 72px 15px;
}
.mycon img {
  width: 100%;
}
.mycon p {
  font-size: 48px;
  
  color: #fff;
}
@media (max-width: 700px) {
	
  .mycon {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 24px 5px 4px 5px;
  }
  .mycon img {
  	
  	
    width: 100%;
  }
  .mycon p {
  	
    font-size: 24px;
    color: #fff;
  }
}

.section {
  background: #1d8b90;
}
.section .row {
  padding: 18px 15px;
}
.section .row .col-sm-3 {
  text-align: center;
  
  padding: 15px;
}
.section .row .col-sm-6 {
  padding: 0px 15px;
}
.section .row img {
  width: 100%;
}
.section .row p {
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
}
.section .row a {
	
  font-size: 24px;
  color: #fff;
}
.maina .container {
  padding-right: 54px;
  
  padding-left: 54px;
  padding-top: 54px;
  
  margin-right: auto;
  margin-left: auto;
  
}
.maina .container p {
  font-size: 32px;
  text-align: center;
}
